In [1]:
"""
import os
import pandas as pd
pre = os.path.dirname(os.path.realpath('__file__'))
fname = 'marathon.xlsx'
path = os.path.join(pre, fname)
path
"""

"\nimport os\nimport pandas as pd\npre = os.path.dirname(os.path.realpath('__file__'))\nfname = 'marathon.xlsx'\npath = os.path.join(pre, fname)\npath\n"

In [37]:
import pandas as pd


#df=pd.read_excel('/Users/john/Desktop/python/marathon.xlsx',sheet_name="票券資訊 (已完成)") 
df=pd.read_excel('marathon.xlsx',sheet_name="票券資訊 (已完成)")

In [38]:
pd.set_option('display.max_columns',500)

In [39]:
df

,訂單編號,票號,狀態,訂購人姓名,訂購人Email,訂購人電話,參加人姓名,參加人Email,參加人電話,報名時間(GTM+8),有效時間(GTM+8),票種分組,票券名稱,票價(NT),付款時間(GTM+8),付款方式,信用卡末四碼,首次驗票時間(GTM+8),首次驗票備註,最後驗票時間(GTM+8),最後驗票備註,驗票次數,驗票通知,備註,取消原因,注意事項,性別,年齡,產業,教育程度,職業,活動資訊來源,購買方式,開立電子發票,三聯發票統編號碼,三聯統編發票抬頭,三聯式發票寄送Email,二聯發票手機載具條碼,二聯發票發票寄送地址(中獎寄送),二聯發票發票收件者
0,2012280129251476230164,2012280129251339608727,已付款,Hugo Chen,ciefcu@gmail.com,886935921203,Hugo Chen,ciefcu@gmail.com,886935921203,2020-12-28 09:29,2021-01-01 00:00 ~ 2021-02-28 00:00,NaN,早鳥票,1990,2020-12-28 09:32,信用卡,4107.0,2021-01-04 13:25,NaN,2021-01-04 13:25,NaN,1,NaN,NaN,NaN,NaN,男性,41~45 歲,其它,研究所及以上,業務人員,ACCUPASS 網站/電子報,電腦,我要捐贈(以下資訊不需填寫),NaN,NaN,NaN,NaN,NaN,NaN
1,2101100549501458177702,2101100549502027268561,已付款,Jasmine Lee,jasmine_lee@avision.com.tw,886925579213,Jasmine Lee,jasmine_lee@avision.com.tw,886925579213,2021-01-10 13:49,2021-01-01 00:00 ~ 2021-02-28 00:00,NaN,早鳥票,1990,2021-01-10 13:52,信用卡,8402.0,2021-01-11 15:14,NaN,2021-01-11 15:14,NaN,1,NaN,NaN,NaN,NaN,女性,36~40 歲,資訊科技,大學,管理階層,ACCUPASS 網站/電子報,電腦,我要捐贈(以下資訊不需填寫),NaN,NaN,NaN,NaN,NaN,NaN
2,2101100928331027843185,2101100928336564452190,已付款,劉弘祥,o3o@livemail.tw,886960951930,劉弘祥,o3o@livemail.tw,886960951930,2021-01-10 17:28,2021-01-01 00:00 ~ 2021-02-28 00:00,NaN,早鳥多人套票 (2人以上),1850,2021-01-10 17:32,街口支付,NaN,2021-01-10 17:36,NaN,2021-01-10 17:36,NaN,1,NaN,NaN,NaN,NaN,不公開,21~25 歲,學生,大學,其它,ACCUPASS 網站/電子報,電腦,二聯式,NaN,NaN,NaN,NaN,(300045) 新竹市東區建功一路87號12樓之2,劉弘祥
3,2101100928331027843185,2101100928339600164610,已付款,劉弘祥,o3o@livemail.tw,886960951930,陳純敏,vincentfosterchen@gmail.com,8860958664190,2021-01-10 17:28,2021-01-01 00:00 ~ 2021-02-28 00:00,NaN,早鳥多人套票 (2人以上),1850,2021-01-10 17:32,街口支付,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,男性,21~25 歲,學生,大學,其它,朋友介紹,電腦,三聯式,24559808.0,迅創投資股份有限公司,vincentfosterchen@gmail.com,NaN,NaN,NaN

In [40]:
df.info

<bound method DataFrame.info of                      訂單編號                      票號   狀態        訂購人姓名  \
0  2012280129251476230164  2012280129251339608727  已付款    Hugo Chen
1  2101100549501458177702  2101100549502027268561  已付款  Jasmine Lee
2  2101100928331027843185  2101100928336564452190  已付款          劉弘祥
3  2101100928331027843185  2101100928339600164610  已付款          劉弘祥

                     訂購人Email         訂購人電話        參加人姓名  \
0            ciefcu@gmail.com  886935921203    Hugo Chen
1  jasmine_lee@avision.com.tw  886925579213  Jasmine Lee
2             o3o@livemail.tw  886960951930          劉弘祥
3             o3o@livemail.tw  886960951930          陳純敏

                      參加人Email          參加人電話       報名時間(GTM+8)  \
0             ciefcu@gmail.com   886935921203  2020-12-28 09:29
1   jasmine_lee@avision.com.tw   886925579213  2021-01-10 13:49
2              o3o@livemail.tw   886960951930  2021-01-10 17:28
3  vincentfosterchen@gmail.com  8860958664190  2021-01-10 17:28

                           有效時間(GTM+8)  票種分組           票券名稱  票價(NT)  \
0  2021-01-01 00:00 ~ 2021-02-28 00:00   NaN            早鳥票    1990
1  2021-01-01 00:00 ~ 2021-02-28 00:00   NaN            早鳥票    1990
2  2021-01-01 00:00 ~ 2021-02-28 00:00   NaN  早鳥多人套票 (2人以上)    1850
3  2021-01-01 00:00 ~ 2021-02-28 00:00   NaN  早鳥多人套票 (2人以上)    1850

        付款時間(GTM+8)  付款方式  信用卡末四碼     首次驗票時間(GTM+8)  首次驗票備註     最後驗票時間(GTM+8)  \
0  2020-12-28 09:32   信用卡  4107.0  2021-01-04 13:25     NaN  2021-01-04 13:25
1  2021-01-10 13:52   信用卡  8402.0  2021-01-11 15:14     NaN  2021-01-11 15:14
2  2021-01-10 17:32  街口支付     NaN  2021-01-10 17:36     NaN  2021-01-10 17:36
3  2021-01-10 17:32  街口支付     NaN               NaN     NaN               NaN

   最後驗票備註  驗票次數  驗票通知  備註  取消原因  注意事項   性別       年齡    產業    教育程度    職業  \
0     NaN     1   NaN NaN   NaN   NaN   男性  41~45 歲    其它  研究所及以上  業務人員
1     NaN     1   NaN NaN   NaN   NaN   女性  36~40 歲  資訊科技      大學  管理階層
2     NaN     1   NaN NaN   NaN   NaN  不公開  21~25 歲    學生      大學    其它
3     NaN     0   NaN NaN   NaN   NaN   男性  21~25 歲    學生      大學    其它

            活動資訊來源 購買方式          開立電子發票    三聯發票統編號碼    三聯統編發票抬頭  \
0  ACCUPASS 網站/電子報   電腦  我要捐贈(以下資訊不需填寫)         NaN         NaN
1  ACCUPASS 網站/電子報   電腦  我要捐贈(以下資訊不需填寫)         NaN         NaN
2  ACCUPASS 網站/電子報   電腦             二聯式         NaN         NaN
3             朋友介紹   電腦             三聯式  24559808.0  迅創投資股份有限公司

                  三聯式發票寄送Email  二聯發票手機載具條碼            二聯發票發票寄送地址(中獎寄送)  \
0                          NaN         NaN                         NaN
1                          NaN         NaN                         NaN
2                          NaN         NaN  (300045) 新竹市東區建功一路87號12樓之2
3  vincentfosterchen@gmail.com         NaN                         NaN

  二聯發票發票收件者
0       NaN
1       NaN
2       劉弘祥
3       NaN  >

In [41]:
#label 轉換
df.loc[df["票券名稱"]=="單人票","票券名稱"]="單人"
df.loc[df["票券名稱"]=="早鳥票","票券名稱"]="單人早鳥"
df.loc[df["票券名稱"]=="多人套票 (2人以上)","票券名稱"]="團體票"
df.loc[df["票券名稱"]=="早鳥多人套票 (2人以上)","票券名稱"]="團體早鳥"

In [42]:
df=pd.get_dummies(df,columns=["票券名稱"])

In [43]:
for i in df.columns:
    if '票券名稱_' in i:
        name=i.replace("票券名稱_","")
        df=df.rename(columns={i:name})

"""
df=df.rename(columns={"票券名稱_單人":"單人"})
df=df.rename(columns={"票券名稱_單人早鳥":"單人早鳥"})
df=df.rename(columns={"票券名稱_團體票":"團體票"})
df=df.rename(columns={"票券名稱_團體早鳥":"團體早鳥"})
"""

'\ndf=df.rename(columns={"票券名稱_單人":"單人"})\ndf=df.rename(columns={"票券名稱_單人早鳥":"單人早鳥"})\ndf=df.rename(columns={"票券名稱_團體票":"團體票"})\ndf=df.rename(columns={"票券名稱_團體早鳥":"團體早鳥"})\n'

In [44]:
df.head(1)

,訂單編號,票號,狀態,訂購人姓名,訂購人Email,訂購人電話,參加人姓名,參加人Email,參加人電話,報名時間(GTM+8),有效時間(GTM+8),票種分組,票價(NT),付款時間(GTM+8),付款方式,信用卡末四碼,首次驗票時間(GTM+8),首次驗票備註,最後驗票時間(GTM+8),最後驗票備註,驗票次數,驗票通知,備註,取消原因,注意事項,性別,年齡,產業,教育程度,職業,活動資訊來源,購買方式,開立電子發票,三聯發票統編號碼,三聯統編發票抬頭,三聯式發票寄送Email,二聯發票手機載具條碼,二聯發票發票寄送地址(中獎寄送),二聯發票發票收件者,單人早鳥,團體早鳥
0,2012280129251476230164,2012280129251339608727,已付款,Hugo Chen,ciefcu@gmail.com,886935921203,Hugo Chen,ciefcu@gmail.com,886935921203,2020-12-28 09:29,2021-01-01 00:00 ~ 2021-02-28 00:00,NaN,1990,2020-12-28 09:32,信用卡,4107.0,2021-01-04 13:25,NaN,2021-01-04 13:25,NaN,1,NaN,NaN,NaN,NaN,男性,41~45 歲,其它,研究所及以上,業務人員,ACCUPASS 網站/電子報,電腦,我要捐贈(以下資訊不需填寫),NaN,NaN,NaN,NaN,NaN,NaN,1,0

In [45]:
#資料型態轉換
df['DateTime']=pd.to_datetime(df["付款時間(GTM+8)"],format='%Y/%m/%d')

In [46]:
df['month']=df['DateTime'].dt.month
df['month']

0    12
1     1
2     1
3     1
Name: month, dtype: int64

In [47]:
df['day']=df['DateTime'].dt.day
df['day']

0    28
1    10
2    10
3    10
Name: day, dtype: int64

In [48]:
#資料型別轉換
df['month']=df['month'].astype(int).astype(str)
df['day']=df['day'].astype(int).astype(str)

In [49]:
df['日期']=df['month']+'/'+df['day']

In [50]:
for i in df.columns:
    if "單人" not in df.columns:
        df["單人"]=0
    elif "單人早鳥" not in df.columns:
        df["單人早鳥"]=0
    elif "團體票" not in df.columns:
        df["團體票"]=0
    elif "團體早鳥" not in df.columns:
        df["團體早鳥"]=0

In [51]:
df=df.loc[:,["參加人姓名","日期","單人","單人早鳥","團體票","團體早鳥","票價(NT)"]]

In [52]:
df

         參加人姓名     日期  單人  單人早鳥  團體票  團體早鳥  票價(NT)
0    Hugo Chen  12/28   0     1    0     0    1990
1  Jasmine Lee   1/10   0     1    0     0    1990
2          劉弘祥   1/10   0     0    0     1    1850
3          陳純敏   1/10   0     0    0     1    1850

In [53]:
df.groupby(["日期"]).sum()

       單人  單人早鳥  團體票  團體早鳥  票價(NT)
日期
1/10    0     1    0     2    5690
12/28   0     1    0     0    1990

In [54]:
df.groupby(["日期"])["票價(NT)"].sum()

日期
1/10     5690
12/28    1990
Name: 票價(NT), dtype: int64

In [55]:
df.groupby(["日期"])["參加人姓名"].count()

日期
1/10     3
12/28    1
Name: 參加人姓名, dtype: int64

In [56]:
df2=df.groupby(["日期"]).sum()
df2=df2.reset_index()

In [57]:
df1=df.groupby(["日期"]).count()
df1=df1.reset_index()

In [58]:
df2

      日期  單人  單人早鳥  團體票  團體早鳥  票價(NT)
0   1/10   0     1    0     2    5690
1  12/28   0     1    0     0    1990

In [59]:
df1=df1.loc[:,['日期','參加人姓名']]

In [60]:
df1

      日期  參加人姓名
0   1/10      3
1  12/28      1

In [61]:
df3=pd.merge(df2,df1,on="日期")

In [62]:
df3

      日期  單人  單人早鳥  團體票  團體早鳥  票價(NT)  參加人姓名
0   1/10   0     1    0     2    5690      3
1  12/28   0     1    0     0    1990      1

In [63]:
df3=df3.rename(columns={"參加人姓名":"當日付款人數"})
df3=df3.rename(columns={"票價(NT)":"當日付款金額"})

In [64]:
df3

      日期  單人  單人早鳥  團體票  團體早鳥  當日付款金額  當日付款人數
0   1/10   0     1    0     2    5690       3
1  12/28   0     1    0     0    1990       1

In [65]:
#處理日期並排序
df3.loc[(df3["日期"].str.contains("/")==True)
       ,"month"]=df3['日期'].str.split('/',expand=True)[0]
df3.loc[(df3["日期"].str.contains("/")==True)
       ,"day"]=df3['日期'].str.split('/',expand=True)[1]

In [66]:
#資料型別轉換
df3['month']=df3['month'].astype(str).astype(int)
df3['day']=df3['day'].astype(str).astype(int)

In [68]:
df3

      日期  單人  單人早鳥  團體票  團體早鳥  當日付款金額  當日付款人數  month  day
0   1/10   0     1    0     2    5690       3      1   10
1  12/28   0     1    0     0    1990       1     12   28

In [69]:
df3=df3.sort_values(by=['month','day'], ascending=True)

In [70]:
df3=df3.drop(['month','day'],axis=1)

In [35]:
df3.to_excel("marathon1.xlsx")

In [71]:
df3

      日期  單人  單人早鳥  團體票  團體早鳥  當日付款金額  當日付款人數
0   1/10   0     1    0     2    5690       3
1  12/28   0     1    0     0    1990       1